PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=izin_talep_sistemi_node
SESSION_SECRET=change-me

COMPANY_NAME=Sirket Adi A.S.
COMPANY_ADDRESS=Sirket Adresi, Sehir / Ulke
PDF_FONT_REGULAR=C:\Windows\Fonts\arial.ttf
PDF_FONT_BOLD=C:\Windows\Fonts\arialbd.ttf
